body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9fafc;
  color: #333;
  text-align: center;
}

header, footer {
  background: #004080;
  color: white;
  padding: 1em;
}

section {
  margin: 2em auto;
  width: 90%;
  max-width: 800px;
}

img {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

video {
  border-radius: 5px;
}
